<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
	<title>{% block title %}sprint-01{% endblock title %}</title>
	<meta charset="utf-8">
	<link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
	{% block extra_head %}
	{% endblock extra_head %}
</head>

<body>

	<div class="userbox">
		{% if request.user.is_authenticated %}
		Welcome, <span>{{ request.user }}</span>! <a href="{% url logout %}">Logout</a>
		{% else %}
		<a href="{% url login %}">Login</a> <a href="{% url register %}">Register</a>
		{% endif %}
	</div>

	<div class="page home">

		<header>

			<h1>sprint-01</h1>
			<h2>Simple task management application written in Django.</h2>

		</header>

		<section id="menu">
			<a href="{% url home %}">Home</a> <a href="{% url task_list %}">Tasks</a>
			<div id="submenu">
				{% block submenu %}{% endblock submenu %}
			</div>
		</section>

		{% if messages %}
		<section id="messages">
			{% for message in messages %}
			<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				<p>{{ message|safe }}</p>
			</div>
			{% endfor %}
		</section>
		{% endif %}

		<div id="content">
			{% block content %}{% endblock content %}
		</div>

		<footer>2011</footer>

	</div>

</body>

</html>